<?xml version='1.0' encoding='utf-8'?>
<widget 
	id = "nl.wijngekken.app" 
	version = "1.0.0" 
	xmlns = "http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
>

<name>Wijngekken</name>

<description>De WijnGekken… een neus voor goede wijn</description>

<author email="@wijngekken" href="info@wijngekken.nl">Wijngekken</author>

<preference name="phonegap-version" value="3.7.0" />
<feature name="http://api.phonegap.com/1.0/device" />

<preference name="orientation" value="default" />

<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="com.simplec.plugins.localnotification" />

<icon src="/res/icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="/res/icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="/res/icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="/res/icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

<gap:splash src="/res/screen/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="/res/screen/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<gap:splash src="/res/screen/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<gap:splash src="/res/screen/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

<content src="http://www.wijngekken.nl/wijngekkenapp/" />
<access origin="*" subdomains="true" />

</widget>
